# General
.DS_Store
*.log
*.tmp

# Environment variables
BackEnd/.env
front-end/.env.local
front-end/.env.production
front-ent/.env.development

# Dependencies
BackEnd/node_modules/
front-end/node_modules/

# Production build folder for FrontEnd
front-end/build/
front-end/dist/
BackEnd/build/
BackEnd/dist/


# Optional: IDE specific settings
.vscode/
.idea/
*.sublime-workspace
