@import "./variables.scss";

.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .app-main {
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $font-size-lg;
    color: $color-black;
    text-align: center;
    width: 100%;
    padding: $spacing-xxl;
    min-height: calc(100vh - 100px);

  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-black;
    color: $color-white;
    width: 100%;
    min-height: 80px;
    height: auto;
    padding: $spacing-sm;
  }

  .header-toolbar {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: $spacing-lg;
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  gap: $spacing-xl;
  justify-content: center;

  .card-item {
    box-shadow: $box-shadow;
    border-radius: $border-radius-lg;
    overflow: hidden;
    padding: $spacing-lg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

@media (max-width: $breakpoint-md) {
  .app-main {
    font-size: $font-size-sm;
  }

  @for $i from 1 through 6 {
    $size: 2.5rem - ($i - 1) * 0.5rem;

    h#{$i} {
      font-size: calc(#{$size} * 0.7);
    }
  }


  .card-list {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
}