@import "./main.scss";

.page-photos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-lg;

    .modal-carousel {
        width: 50%;
        height: 50%;

        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;

        transform: translate(-50%, -50%);
    }



    .slider-container {
        width: 100%;
        margin: auto;
        min-height: 300px;
        height: auto;
        margin-bottom: 60px;

        .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 1;
            cursor: pointer;
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border-radius: $border-radius-lg;
            opacity: 1;
            visibility: visible;
        }

        .slick-prev:before,
        .slick-next:before {
            color: $color-dark;
            font-size: $font-size-xl;

        }

        .slick-prev {
            left: 25%;

        }

        .slick-next {
            right: 25%;

        }

        .slick-arrow:hover {
            background-color: $color-info;
        }

        .slick-dots {
            display: flex;
            justify-content: center;
            margin-top: 15px;

            li {
                display: none;
            }

            li:nth-child(-n+3) {
                display: inline-block;
            }
        }


        .img-slider img {
            max-height: 400px;
            max-width: 400px;
            margin: 0 auto;
        }
    }
}