@import "./main.scss";

.page-photos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-lg;

    .modal-carousel {
        .modal-carousel {
            position: fixed;
            /* Use fixed to keep the modal centered regardless of page scrolling */
            width: 50%;
            height: 50%;
            top: 50%;
            /* Start from the middle of the screen */
            left: 50%;
            /* Start from the middle of the screen */
            transform: translate(-50%, -50%);
            /* Perfectly center the modal */
            background: white;
            /* Consider adding a background for better visibility */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            /* Optional: adds some shadow for depth */
            padding: 20px;
            /* Adds padding inside the modal */
            overflow-y: auto;
            /* Allows scrolling inside the modal if content is too long */
            z-index: 1050;
            /* Ensures the modal is above other content */
            border-radius: 8px;
            /* Optional: rounds the corners for a smoother look */
        }

    }



    .slider-container {
        width: 100%;
        margin: auto;
        min-height: 300px;
        height: auto;

        .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 1;
            cursor: pointer;
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border-radius: $border-radius-lg;
            opacity: 1;
            visibility: visible;
        }

        .slick-prev:before,
        .slick-next:before {
            color: $color-dark;
            font-size: $font-size-xl;

        }

        .slick-prev {
            left: 25%;

        }

        .slick-next {
            right: 25%;

        }

        .slick-arrow:hover {
            background-color: $color-info;
        }

        .slick-dots {
            display: flex;
            justify-content: center;
            margin-top: 15px;

            li {
                display: none;
            }

            li:nth-child(-n+3) {
                display: inline-block;
            }
        }




        .slick-slide img {
            width: 100%;
            max-width: 400px;
            height: auto;
        }
    }
}